.Rproj.user
.Rhistory
.RData
.Ruserdata
CCES12_Common_VV.tab
CCES14_Common_Content_validated.tab
CCES2016_Common_FirstRelease.tab
CCES12.tab
Ohio_df_lite.csv
SWVF_1_22.txt
SWVF_23_44.txt
SWVF_45_66.txt
SWVF_67_88.txt